th{
	outline: 1px solid #ccc;
	//padding: 0 0 0 0;
}

.badge{
	//margin-top: 0.5em;
	//margin-left: 1em;
	width: 100%;
	padding: 1em;
}

.deleteTd{
	margin-left: 0;
	padding: 0;
}

.delete{
	margin-left: 0;
	//padding: 0;
}

.lined{
	text-decoration: line-through;
}


.col5{
	//width: 12%;
	//padding-right: 0 !important;
}