.container{
	margin-top: 1em;
}

th{
	outline: 1px solid #ccc;
	//padding: 0 0 0 0;
}

.col1{
	width: 2.5%;
}

.col2{
	width: 33%;
}

.col3{
	width: 10%;
}

.col4{
	width: 11%;
}

.col5{
	width: 12%;
	padding-right: 0;
}

.col6{
	width: 17%;
}

.col7{
	width: 22%;
}


.col8{
	width: 2.5%;
}